// Colors
$white: #ffffff;

$yellow: #E2C10E;
$yellow2: #FDF761;
$yellow3: #fcfcd3;
$blue: #2D7DAE;
$green: #3A7934;
$green-alt: #51B548;
$red: #C83232;
$red2: #EFEFEF;

$primary: #805ACB;
$primary-alt: #B388FF;

$color1: #2797E5;
$color2: #01B200;
$color3: #B92FA7;
$color4: #961519;
$color5: #6F1C64;
$color6: #8A6337;
$color7: #3166C9;
$color8: #D0950D;
$color9: #D92828;
$color10: #26AF8F;

$gray1: #f5f5f5;
$gray2: #eaeaea;
$gray3: #dddddd;
$gray4: #cccccc;
$gray5: #bbbbbb;
$gray6: #666666;
$gray8: #595959;
$gray9: #777777;
$gray10: #333333;
$gray11: #e1e1e1;
$gray12: #222222;

$text: $gray10;
$alt-text: $gray8;
$blue-text: #20638D;

$radius: 3px;
$border: 0.1rem solid $gray5;
$border2: 0.1rem solid $gray2;

$incorrect: #D0021B;
$correct: #7ED321;



$gray33: #333;
$gray59: #595959;
$gray5A: #5A5A5A;
$blue30: #3068C1;
$whiteF5: #F5F5F5;
$whiteDD: #DDD;
$grayC6: #C6C6C6;
$gray34: #343434;
$whiteCC: #CCCCCC;
$gray55: #555555;
