@import "../../styles/styles.scss";

.aj-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
	min-width: 800px;
	font-family: 'Lato', 'sans-serif';

	&__row {
		border-bottom: 1px solid $whiteDD;
		height: 45px;
	}

	&__head {
		font-size: 12px;
		font-weight: 700;
		cursor: pointer;
		border-bottom: 1px solid #DDD;

		&-row {
			height: 44px;
		}
	}

	&__flex-cell {
		display: flex;
		align-items: center;
	}
}
